{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href={% static "bootstrap/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "core.css" %}>
</head>
<body>
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="label-mine">
                <h1>Sign in to continue</h1>
            </div>
            <div class="form-mine">
            <form method="post">{% csrf_token %}
                    {% for field in form %}
                        <input class="form-control" placeholder={{ field.name }} for={{ field }}
                        <p><code>{{ field.errors }}</code></p>
                    {% endfor %}
                <button type="submit" class="btn btn-success">Log in</button>
            </form>
            </div>
        <div class="label-mine">
            <p><strong><a href="{% url 'home_page' %}">Back to home page</a></strong></p>
        </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</body>
</html>

