{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href={% static "bootstrap/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "core.css" %}>
    <script src={% static "bootstrap/bootstrap.min.js" %}></script>
</head>
<body>
<div class="container">
    <div class="body">
        <div class="bs-component">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'home_page' %}">University</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                              <li><a href="{% url 'login' %}">Sign in</a></li>
                              <li><a href="{% url 'reg' %}">Sign up</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
        </div>
        <h1 class="label-mine">Sign in to continue</h1>
        <div class="form-mine">
            <form method="post">{% csrf_token %}
                {% if form.username.errors %}
                    <div class="form-group has-error">
                        <label for="username" class="control-label">Username</label>
                        <input class="form-control" placeholder="username" name="username">
                        <div class="help-block with-errors">{{ form.username.errors }}</div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="username" class="control-label">Username</label>
                        <input class="form-control" placeholder="username" name="username" {% if form.username.value %} value="{{ form.username.value }}" {% endif %}>
                    </div>
                {% endif %}
                {% if form.password.errors %}
                    <div class="form-group has-error">
                        <label for="password" class="control-label">Password</label>
                        <input class="form-control" placeholder="password" type="password" name="password">
                        <div class="help-block with-errors">{{ form.password.errors }}</div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input class="form-control" placeholder="password" type="password" name="password">
                    </div>
                {% endif %}

                <div class="text-center">
                    <button type="submit" class="btn btn-success">Log in</button>
                </div>
            </form>
        </div>
    </div>
        <div class="footer-mine">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <span>Powered by: </span><a href="https://ua.linkedin.com/in/dianagafonova">Diana Agafonova</a>
            </div>
            <div class="col-md-4">
                <span>GitHub: </span><a href="https://github.com/DiankaDS/university">university</a>
            </div>
            <div class="col-md-2"></div>
        </div>
</div>
</body>
</html>

