{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>completed</title>
    <link rel="stylesheet" href={% static "bootstrap/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "core.css" %}>
</head>
<body>
<div class="container">
    <div class="body">
        <div class="bs-component">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'home_page' %}">University</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                              <li><a href="{% url 'login' %}">Sign in</a></li>
                              <li><a href="{% url 'reg' %}">Sign up</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
        </div>
                <h1 class="label-mine">Registration Complete</h1>
                <h4 class="text-center" style="margin-bottom: 0px"><a href="{% url 'login' %}">Sign in</a></h4>
        </div>
        <div class="footer-mine">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <span>Created by:</span><a class="footer-mine" href="https://ua.linkedin.com/in/dianagafonova">Diana Agafonova</a>
            </div>
            <div class="col-md-4">
                <span>GitHub:</span><a class="footer-mine" href="https://github.com/DiankaDS/university">university</a>
            </div>
            <div class="col-md-2"></div>
        </div>
</div>
</body>
</html>