{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>completed</title>
    <link rel="stylesheet" href={% static "bootstrap/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "core.css" %}>
</head>
<body>
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="label-mine">
                <h1>REGISTRATION COMPLETE</h1>
            </div>
            <div class="text-center">
                <ins><a href="{% url "home_page" %}">Home page</a></ins>
            </div>
           <div class="label-mine">
                <p class="text-info"><strong>Have a nice day</strong></p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</body>
</html>