{% extends "basic.html" %}
{% block title %}
    <title>Create group</title>
{% endblock %}
{% block body %}
    <div class="label-mine">
        <h1>Create new group</h1>
    </div>
    <div class="form-mine">
    <form method="post">{% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <p>{{ field.name }}:
                    {{ field }}</p>
                <div class="help-block with-errors">{{ field.errors }}</div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Create</button>
    </form>
    </div>
{% endblock %}