{% extends "basic.html" %}
{% block title %}
    <title>Create group</title>
{% endblock %}
{% block body %}
    <div class="label-mine">
        <h1>Create new group</h1>
    </div>
    <div class="form-mine">
    <form method="post">{% csrf_token %}
        {% if form.group_name.errors %}
            <div class="form-group has-error">
                <label for="group_name" class="control-label">Group name</label>
                <input class="form-control" placeholder="group name" name="group_name" {% if form.group_name.value %} value="{{ form.group_name.value }}" {% endif %}>
                <div class="help-block with-errors">{{ form.group_name.errors }}</div>
            </div>
        {% else %}
            <div class="form-group">
                <label for="group_name" class="control-label">Group name</label>
                <input class="form-control" placeholder="group name" name="group_name" {% if form.group_name.value %} value="{{ form.group_name.value }}" {% endif %}>
            </div>
        {% endif %}
        <div class="form-group has-error">
            <p>Elder:{{ form.elder }}</p>
            <div class="help-block with-errors">{{ form.elder.errors }}</div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </form>
    </div>
{% endblock %}