{% extends "basic.html" %}
{% block title %}
    <title>Delete group</title>
{% endblock %}
{% block body %}
    <div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <div class="label-mine">
        <h1>Delete group {{ group.group_name }}</h1>
    </div>
    <div class="message">
        <form action="" method="post">{% csrf_token %}
            <p>Are you sure you want to delete {{ object }}?</p>
            <button type="submit" class="btn btn-danger">Yes, delete it</button>
            <button type="reset" class="btn btn-primary" onclick="location.href='{% url 'groups:groups' %}'">No, don't delete it</button>
        </form>
    </div>
    </div>
    </div>
{% endblock %}