{% extends "basic.html" %}
{% block title %}
    <title>Groups</title>
{% endblock %}
{% block body %}
    <div class="label-mine">
        <h1>Groups List</h1>
    </div>
        {% if object_list %}
    <table class="table" border = "1">
    <tr>
        <th>Group</th>
        <th>Students</th>
        <th>Elder</th>
        <th>Operations</th>
    </tr>
    {% for group in object_list %}
        <tr>
            <td>{{ group.group_name }}</td>
            <td>{{ group.student_set.count }}</td>
            <td>{{ group.elder }}</td>
            <td><button type="button" class="btn btn-info"><a href="{% url 'groups:info' group.id %}">View</a></button>
            <button type="button" class="btn btn-warning"><a href="{% url 'groups:update' group.id %}">Update</a></button>
            <button type="button" class="btn btn-danger"><a href="{% url 'groups:delete' group.id %}">Delete</a></button></td>
        </tr>
    {% endfor %}
    </table>
    <button type="button" class="btn btn-default btn-lg btn-block"><a href="{% url 'groups:create' %}">Create new group</a></button>
{% else %}
    <p>No groups are available.</p>
{% endif %}
{% endblock %}
