{% extends "basic.html" %}
{% block title %}
    <title>Groups</title>
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="label-mine">Groups List</h1>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% if object_list %}
            <table class="table table-bordered">
            <tr class="warning">
                <th>Group</th>
                <th>Students</th>
                <th>Elder</th>
            </tr>
            {% for group in object_list %}
                <tr class="active">
                    <td><a href='{% url 'groups:info' group.id %}'>{{ group.group_name }}</a></td>
                    <td>{{ group.student_set.count }}</td>
                    <td>{{ group.elder }}</td>
                </tr>
            {% endfor %}
            </table>
            <button type="button" class="btn btn-default btn-lg btn-block" onclick="location.href='{% url 'groups:create' %}'">Create new group</button>
        {% else %}
            <p>No groups are available.</p>
        {% endif %}
    </div>
    <div class="col-md-3"></div>
    </div>
{% endblock %}