{% extends "basic.html" %}
{% block title %}
    <title>Information</title>
{% endblock %}
{% block body %}
    <div class="container">
    <div class="label-mine">
        <h1>Students in {{ group.group_name }}</h1>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <table class="table table-bordered">
            <tr class="warning">
                <th>Student's id</th>
                <th>Student</th>
            </tr>
        {% for student in group.student_set.all %}
            <tr class="active">
                    <td>{{ student.student_id }}</td>
                    <td><a href="{% url 'students:info' student.id %}">{{ student.first_name }} {{ student.last_name }} {{ student.middle_name }}</a></td>
            </tr>
        {% endfor %}
    </table>
    <div class="text-center">
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'groups:update' group.id %}'">Update group</button>
        <button type="button" class="btn btn-danger" onclick="location.href='{% url 'groups:delete' group.id %}'">Delete group</button>
    </div>
    </div>
    <div class="col-md-4"></div>
    </div>
{% endblock %}