{% extends "basic.html" %}
{% block title %}
    <title>Update group</title>
{% endblock %}
{% block body %}
    <div class="label-mine">
        <h1>Update group {{ group.group_name }}</h1>
    </div>
    <div class="form-mine">
    <form method="post">{% csrf_token %}
        {% for field in form %}
            <p>{{ field.name }}:
                {{ field }}
                <code>{{ field.errors }}</code></p>
        {% endfor %}
        <button type="submit" class="btn btn-success">Save</button>
    </form>
    </div>
{% endblock %}