.label-mine{
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
}
.footer-mine{
    padding: 15px 15px;
    font-size: 14px;
    line-height: 20px;
    height: 50px;
    color: #c8c8c8;
    background-color: #272b2e;
    text-align: center;
}
.body{
    background-color: gainsboro;
    min-height: 700px;
}
.navbar-default {
  background-color: #3a3f44;
  border-color: #2b2e32;
}
.navbar-brand{
    margin: 7.5px;
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-default .navbar-brand {
  color: #c8c8c8;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #c8c8c8;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #272b2e;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.btn-default{
    background-color: #3a3f44;
    color: #c8c8c8;
    margin-bottom: 50px;
}
.btn-default:hover,
.btn-default:focus{
    background-color: #091f2b;
    color: #c8c8c8;
}
.btn-home{
    background-color: #3a3f44;
    color: #c8c8c8;
    height: 200px;
    width: 200px;
    margin-right: 20px;
    margin-top: 50px;
}
.btn-home:hover,
.btn-home:focus{
    background-color: #091f2b;
    color: #c8c8c8;
}
.form-mine{
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 20px;
    background-color: gainsboro;
}
.message{
    background-color: #ffdbe3;
    /*height: 150px;*/
    text-align: center;
    line-height: 120px;
}