{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href={% static "bootstrap/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "core.css" %}>
</head>
<body>
     <div class="container">
        <div class="col-md-2">
            <div class="core-mine">
                <h4><a href='{% url 'user_profile' %}'>Profile</a></h4>
                <h4>Students</h4>
                <ul>
                    <li><a href='{% url 'students:students' %}'>Students List</a></li>
                    <li><a href='{% url 'students:create' %}'>Create Student</a></li>
                </ul>
                <h4>Groups</h4>
                <ul>
                    <li><a href='{% url 'groups:groups' %}'>Groups List</a></li>
                    <li><a href='{% url 'groups:create' %}'>Create Group</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
             <div class="text-right">
                <p class="text-muted">{{ request.user.username }} <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">Logout</button></a></p>
             </div>
            {% block body %}
            {% endblock %}
            <div class="label-mine">
                <p><strong><a href="{% url 'home_page' %}"><h4>Back to home page</h4></a></strong></p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</body>
</html>