{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href={% static "bootstrap/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "core.css" %}>
</head>
<body>
<div class="container">
    <div class="body">
        <div class="bs-component">
              <nav class="navbar navbar-default">
                  <div class="container-fluid">
                      <div class="navbar-header">
                          <a class="navbar-brand" href="{% url 'home_page' %}">University</a>
                      </div>
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav">
                              <li><a href="{% url 'students:students' %}">Students</a></li>
                              <li><a href="{% url 'groups:groups' %}">Groups</a></li>
                              <li><a href="{% url 'students:create' %}">Create Student</a></li>
                              <li><a href="{% url 'groups:create' %}">Create Group</a></li>
                              <li><a href="{% url 'user_profile' %}">Profile</a></li>
                          </ul>
                          <ul class="nav navbar-nav navbar-right">
                              <li><a href="{% url 'logout' %}">Logout</a></li>
                          </ul>
                      </div>
                  </div>
              </nav>
        </div>
        {% block body %}
        {% endblock %}
    </div>
        <div class="footer-mine">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <span>Created by:</span><a class="footer-mine" href="https://ua.linkedin.com/in/dianagafonova">Diana Agafonova</a>
            </div>
            <div class="col-md-4">
                <span>GitHub:</span><a class="footer-mine" href="https://github.com/DiankaDS/university">university</a>
            </div>
            <div class="col-md-2"></div>
        </div>
</div>
</body>
</html>