{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href={% static "bootstrap/bootstrap.min.css" %}>
</head>
<body>
    <h1>Welcome to University!</h1>
    {% if request.user.username %}
        <p>You are {{ request.user.username }} <a href="{% url 'logout' %}"><button>Logout</button></a></p>
    {% else %}
        <p>You are Guest. Please, <a href="{% url 'login' %}">login</a> or <a href="{% url 'reg' %}">registration</a>.</p>
    {% endif %}
</body>
</html>