{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href={% static "bootstrap/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "core.css" %}>
</head>
<body>
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="label-mine">
                <h1>Welcome to University!</h1>
            </div>
            <div class="text-center">
                {% if request.user.username %}
                    <div class="text-right">
                    <p class="text-muted">You are {{ request.user.username }} <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">Logout</button></a></p>
                    </div>
                    <h4>Would you like work with:</h4>
                    <p><a href={% url "students:students" %}>Students</a></p>
                    <p><a href={% url "groups:groups" %}>Groups</a></p>
            </div>
                {% else %}
                    <p>You are Guest. Please, <a href="{% url 'login' %}">sign in</a> or <a href="{% url 'reg' %}">sign up</a>.</p>
                {% endif %}
            <div class="label-mine">
                <p class="text-info"><strong>Have a nice day</strong></p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</body>
</html>