{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href={% static "bootstrap/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "core.css" %}>
</head>
<body>
<div class="container">
<div class="body">
    {% if request.user.username %}
        <div class="bs-component">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'home_page' %}">University</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'students:students' %}">Students</a></li>
                            <li><a href="{% url 'groups:groups' %}">Groups</a></li>
                            <li><a href="{% url 'students:create' %}">Create Student</a></li>
                            <li><a href="{% url 'groups:create' %}">Create Group</a></li>
                            <li><a href="{% url 'user_profile' %}">Profile ({{ request.user.username }})</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <h1 class="label-mine">Welcome to University!</h1>
        <div class="text-center">
            <h4>Would you like work with:</h4>
            <button type="button" class="btn btn-home btn-lg" onclick="location.href='{% url 'students:students' %}'">Students</button>
            <button type="button" class="btn btn-home btn-lg" onclick="location.href='{% url 'groups:groups' %}'">Groups</button>
        </div>
    {% else %}
            <div class="bs-component">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'home_page' %}">University</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                              <li><a href="{% url 'login' %}">Sign in</a></li>
                              <li><a href="{% url 'reg' %}">Sign up</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        <h4 class="label-mine">You are Guest. Please, sign in or sign up.</h4>
        <div class="text-center">
            <button type="button" class="btn btn-home btn-lg" onclick="location.href='{% url 'login' %}'">Sign in</button>
            <button type="button" class="btn btn-home btn-lg" onclick="location.href='{% url 'reg' %}'">Sign up</button>
        </div>
        {% endif %}
</div>
        <div class="footer-mine">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <span>Powered by: </span><a href="https://ua.linkedin.com/in/dianagafonova">Diana Agafonova</a>
            </div>
            <div class="col-md-4">
                <span>GitHub: </span><a href="https://github.com/DiankaDS/university">university</a>
            </div>
            <div class="col-md-2"></div>
        </div>
</div>
</body>
</html>