{% extends "basic.html" %}
{% block title %}
    <title>Profile</title>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="label-mine">
            <h1>Profile on University</h1>
        </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <table class="table table-bordered">
            {% if request.user.profile_image %}
                <tr class="active">
                    <td>Photo:</td>
                    <td><img src="{{ request.user.profile_image.url }}" style="height: 150px; width: 150px"></td>
                </tr>
            {% endif %}
            <tr class="active">
                <td>Username:</td>
                <td>{{ request.user.username }}</td>
            </tr>
            <tr class="active">
                <td>First name:</td>
                <td>{{ request.user.first_name }}</td>
            </tr>
            <tr class="active">
                <td>Last name:</td>
                <td>{{ request.user.last_name }}</td>
            </tr>
            <tr class="active">
                <td>Email:</td>
                <td>{{ request.user.email }}</td>
            </tr>
            <tr class="active">
                <td>Address:</td>
                <td>{{ request.user.address }}</td>
            </tr>
            <tr class="active">
                <td>Mobile phone:</td>
                <td>{{ request.user.mobile_phone }}</td>
            </tr>
        </table>

{#        <p>{{ request.user.username }}</p>#}
{#        <img src={{ request.user.profile_image }} height="100" width="100">#}
{#        <p>First name: {{ request.user.first_name }}</p>#}
{#        <p>Last name: {{ request.user.last_name }}</p>#}
{#        <p>Email: {{ request.user.email }}</p>#}
{#        <p>Address: {{ request.user.address }}</p>#}
{#        <p>Mobile phone: {{ request.user.mobile_phone }}</p>#}
    </div>
    </div>
{% endblock %}

