{% extends "basic.html" %}
{% block title %}
    <title>Profile</title>
{% endblock %}
{% block body %}
    <div class="label-mine">
        <h1>Profile on University</h1>
    </div>
    <div class="basic-mine">
        <p>{{ request.user.username }}</p>
        <p>First name: {{ request.user.first_name }}</p>
        <p>Last name: {{ request.user.last_name }}</p>
        <p>Email: {{ request.user.email }}</p>
        <p>Address: {{ request.user.address }}</p>
        <p>Mobile phone: {{ request.user.mobile_phone }}</p>
    </div>
{% endblock %}

