{% extends "basic.html" %}
{% block title %}
    <title>Profile</title>
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="label-mine">Profile on University</h1>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <table class="table table-bordered">
            {% if request.user.profile_image %}
                <tr class="active">
                    <td>Photo:</td>
                    <td><img src="{{ request.user.profile_image.url }}" style="height: 150px; width: 120px"></td>
                </tr>
            {% endif %}
            <tr class="active">
                <td>Username:</td>
                <td>{{ request.user.username }}</td>
            </tr>
            <tr class="active">
                <td>First name:</td>
                {% if request.user.first_name %}
                    <td>{{ request.user.first_name }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
            <tr class="active">
                <td>Last name:</td>
                {% if request.user.last_name %}
                    <td>{{ request.user.last_name }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
            <tr class="active">
                <td>Email:</td>
                {% if request.user.email %}
                    <td>{{ request.user.email }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
            <tr class="active">
                <td>Address:</td>
                {% if request.user.address %}
                    <td>{{ request.user.address }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
            <tr class="active">
                <td>Mobile phone:</td>
                {% if request.user.mobile_phone %}
                    <td>{{ request.user.mobile_phone }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
        </table>
    </div>
    </div>
{% endblock %}

