{% extends "basic.html" %}
{% block title %}
    <title>Information</title>
{% endblock %}
{% block body %}
    <div class="label-mine">
        <h1>Information about student {{ student.last_name }}</h1>
    </div>
    <div class="text-center">
        <p>Last name: {{ student.last_name }}</p>
        <p>First name: {{ student.first_name }}</p>
        <p>Middle name: {{ student.middle_name }}</p>
        <p>Year of birth: {{ student.year_of_birth }}</p>
        <p>Student id: {{ student.student_id }}</p>
        <p>Group: {{ student.group }}</p>
    </div>
{% endblock %}