{% extends "basic.html" %}
{% block title %}
    <title>Students</title>
{% endblock %}
{% block body %}
    <div class="label-mine">
        <h1>Students List</h1>
    </div>
    <div class="text-center">
        {% if object_list %}
            <ul>
                {% for student in object_list %}
                    <li><a href="{% url 'students:info' student.student_id %}">{{ student.last_name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No students are available.</p>
        {% endif %}
    </div>
    <button type="button" class="btn btn-default btn-lg btn-block"><a href="{% url 'students:create' %}">Add new student</a></button>
{% endblock %}
