{% extends "basic.html" %}
{% block title %}
    <title>Information</title>
{% endblock %}
{% block body %}
    <div class="container">
            <h1 class="label-mine">Information about student {{ student.last_name }}</h1>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <table class="table table-bordered">
            <tr class="active">
                <td>Last name:</td>
                <td>{{ student.last_name }}</td>
            </tr>
            <tr class="active">
                <td>First name:</td>
                <td>{{ student.first_name }}</td>
            </tr>
            <tr class="active">
                <td>Middle name:</td>
                <td>{{ student.middle_name }}</td>
            </tr>
            <tr class="active">
                <td>Year of birth:</td>
                <td>{{ student.year_of_birth }}</td>
            </tr>
            <tr class="active">
                <td>Student's id:</td>
                <td>{{ student.student_id }}</td>
            </tr>
            <tr class="active">
                <td>Group:</td>
                <td>{{ student.group }}</td>
            </tr>
        </table>
        <div class="text-center">
            <button type="button" class="btn btn-primary" onclick="location.href='{% url 'students:update' student.id %}'">Update</button>
            <button type="button" class="btn btn-danger" onclick="location.href='{% url 'students:delete' student.id %}'">Delete</button>
        </div>
    </div>
    <div class="col-md-4"></div>
    </div>
{% endblock %}