{% extends "basic.html" %}
{% block title %}
    <title>Students</title>
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="label-mine">Students List</h1>
    <div class="col-md-4"></div>
    <div class="col-md-4">
    {% if object_list %}
        <table class="table table-bordered">
            <tr class="warning">
                <th>Student's id</th>
                <th>Student</th>
            </tr>
            {% for student in object_list %}
                <tr class="active">
                    <td>{{ student.student_id }}</td>
                    <td><a href="{% url 'students:info' student.id %}">{{ student.first_name }} {{ student.middle_name }} {{ student.last_name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No students are available.</p>
    {% endif %}
    <button type="button" class="btn btn-default btn-lg btn-block" onclick="location.href='{% url 'students:create' %}'">Add new student</button>
    </div>
    </div>
    <div class="col-md-4"></div>
{% endblock %}


